<h1>Products</h1>
<%= link_to cart_path(@cart), class: '' do %>
  <h4><span> Total items in cart: </span><span id="total-items"><%= @cart.total_items %></span></h4>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Product Code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.product_code %></td>
        <td><%= product.name %></td>
        <td><%= format_price(product.price) %></td>
        <td><%= button_to "Add to cart", line_items_path(product_id: product.id), remote: true, class: 'btn btn-success ' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
